@media screen and (max-width: 1080px) {
    #logoBtrazer{
      display: none !important;
    }
}

@font-face {
  font-family: "tt0140m_";
  src: url("../fonts/tt0140m_.ttf");
}


@font-face {
  font-family: "FtraHv";
  src: url("../fonts/FtraHv.ttf");
}


.servicios{
  background-color: #08fc66;
}

#contenedroLogo{
  position: relative;
}
#logoBtrazer{
  position: relative;
}
*{
  letter-spacing: 2px;
}
