@media screen and (max-width: 1080px) {
    #logoBtrazer{
      display: none !important;
    }
}

@font-face {
  font-family: "tt0140m_";
  src: url("../fonts/tt0140m_.ttf");
}


@font-face {
  font-family: "FtraHv";
  src: url("../fonts/FtraHv.ttf");
}

*{
  letter-spacing: 1.5px;
}


#contenedroLogo{
  position: relative;
}
#logoBtrazer{
  position: relative;
}

.servicios{
  background-color: #0be0a0;
}