@media screen and (max-width: 1080px) {
    #logoBtrazer{
      display: none !important;
    }
}

@font-face {
  font-family: "tt0140m_";
  src: url("../fonts/tt0140m_.ttf");
}


@font-face {
  font-family: "FtraHv";
  src: url("../fonts/FtraHv.ttf");
}

*{
  letter-spacing: 1.5px;
}

.scrollLogos::-webkit-scrollbar{
  display:none ;
}

.logosExternos{
  width: 22rem;
  height: 12rem;
  object-fit: cover;  
}
#cissp{
  background-image: url("../img/certificate/cissp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#iso_27001_surus{
  background-image: url("../img/certificate/iso_27001_surus-inversa.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
#ccsk{
  background-image: url("../img/certificate/ccsk.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
#cissp{
  background-image: url("../img/certificate/cissp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#scan-244451947{
  background-image: url("../img/certificate/ios_scan_244451947.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#scan-3041581528{
  background-image: url("../img/certificate/ios_scan_3041581528.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#scan-3215668897{
  background-image: url("../img/certificate/ios_scan_3215668897.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#scan-3588380952{
  background-image: url("../img/certificate/ios_scan_3588380952.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* patners */
#hyperledger{
  background-image: url("../img/patners/hyperledger.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
#Laacchain{
  background-image: url("../img/patners/lacchain.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
#Besu{
  background-image: url("../img/patners/Besu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
#Amazon{
  background-image: url("../img/patners/Amazon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
#signature{
  background-image: url("../img/certificate/ccsk.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
#ciditic{
  background-image: url("../img/patners/ciditic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
/* Clientes */
#IMG_6243{
  background-image: url("../img/clients/IMG_6243.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
#labs{
  background-image: url("../img/clients/Labs.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}

#contenedroLogo{
  position: relative;
}
#logoBtrazer{
  position: relative;
}

.servicios{
  background-color: #0be0a0;
}